# Import Pandas

In [3]:
import pandas as pd

# Load CSV

In [11]:
df = pd.read_csv('Downloads/supermarket_sales.csv')

In [12]:
print(df)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

# Create a Pivot Table

One bracket to select one column

2 brackets to select more than one column

In [15]:
df = df[['Gender', 'Product line', 'Total']]
print(df)

     Gender            Product line      Total
0    Female       Health and beauty   548.9715
1    Female  Electronic accessories    80.2200
2      Male      Home and lifestyle   340.5255
3      Male       Health and beauty   489.0480
4      Male       Sports and travel   634.3785
..      ...                     ...        ...
995    Male       Health and beauty    42.3675
996  Female      Home and lifestyle  1022.4900
997    Male      Food and beverages    33.4320
998    Male      Home and lifestyle    69.1110
999  Female     Fashion accessories   649.2990

[1000 rows x 3 columns]

# Create Pivot Table

In [17]:
pivot_table = df.pivot_table(index='Gender', columns='Product line', 
                             values='Total', aggfunc='sum').round(0)

In [18]:
print(pivot_table)

Product line  Electronic accessories  Fashion accessories  Food and beverages  \
Gender
Female                    27102.0225            30437.400          33170.9175
Male                      27235.5090            23868.495          22973.9265

Product line  Health and beauty  Home and lifestyle  Sports and travel
Gender
Female               18560.9865          30036.8775         28574.7210
Male                 30632.7525          23825.0355         26548.1055

# Load to Excel

In [26]:
pivot_table.to_excel('pivot_table.xlsx', 'Report', startrow=4)

# Creating Bar Chart

In [40]:
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference

In [31]:
wb = load_workbook('pivot_table.xlsx')

In [32]:
sheet = wb['Report']

# Setting Parameters based on where the pivot table is on the sheet

In [33]:
min_column = wb.active.min_column

In [34]:
max_column = wb.active.max_column

In [35]:
min_row = min_col=min_columnmin_col=min_columnwb.active.min_row

In [36]:
max_row = wb.active.max_row

# Validate Ranges

In [38]:
print(min_column)
print(max_column)
print(min_row)
print(max_row)

1
7
5
7

# Set References

In [97]:
barchart = BarChart()

In [89]:
data = Reference (sheet, min_col=min_column+1, max_col=max_column, min_row=min_row, max_row=max_row)

In [88]:
categegories = Reference (sheet, min_col=min_column, max_col=min_column, min_row=min_row+1, max_row=max_row)

# Add Data & Categories

In [101]:
barchart.add_data(data, titles_from_data=True)
barchart.set_categories(categories)

# Add Chart

In [104]:
sheet.add_chart(barchart, "B12")

# Set Title & Style

In [ ]:
barchart.title = "Sales by Product Line"
barchart.style = 3
wb.save('barchart.xlsx')